In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('archive/Linear Regression - Sheet1.csv')
df

       X           Y
0      1    3.888889
1      2    4.555556
2      3    5.222222
3      4    5.888889
4      5    6.555556
..   ...         ...
295  296  200.555556
296  297  201.222222
297  298  201.888889
298  299    1.888889
299  300    1.888889

[300 rows x 2 columns]

In [3]:
df.isna().values.any()

False

In [4]:
X=df['X'].to_numpy()
Y=df['Y'].to_numpy()

In [5]:
X.shape
Y.shape

(300,)

In [6]:
X=X.reshape(-1,1)
Y=Y.reshape(-1,1)
X.shape
Y.shape

(300, 1)

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,shuffle=True)

In [9]:
from sklearn.preprocessing import StandardScaler

In [10]:
# for i in range(X.shape[1]):
#     X.std[:,i] = (X.std[:,i] - np.mean(X[:,i]))/np.std(X[:,i])


#scaler = StandardScaler()
#scaler.fit(x_test)
#X_std = scaler.transform(x_test)

In [11]:
Y = Y.reshape(-1)

In [12]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [13]:
model.score(x_train,y_train)

0.9496655944272072

In [14]:
model.score(x_test,y_test)

0.8075064489916682