In [88]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [89]:
#pd.set_option('display.max_columns',)

In [90]:
df=pd.read_csv('games.csv/games.csv',index_col="id")
pd.set_option('display.max_columns',15)
df

,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
id,,,,,,,,,,,,,,,
TZJHLljE,False,1.504210e+12,1.504210e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5
l1NXvwaE,True,1.504130e+12,1.504130e+12,16,resign,black,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,4
mIICvQHh,True,1.504130e+12,1.504130e+12,61,mate,white,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3
kWKvrqYL,True,1.504110e+12,1.504110e+12,61,mate,white,20+0,daniamurashov,1439,adivanov2009,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,Queen's Pawn Game: Zukertort Variation,3
9tXo1AUZ,True,1.504030e+12,1.504030e+12,95,mate,white,30+3,nik221107,1523,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
EfqH7VVH,True,1.499791e+12,1.499791e+12,24,resign,white,10+10,belcolt,1691,jamboger,1220,d4 f5 e3 e6 Nf3 Nf6 Nc3 b6 Be2 Bb7 O-O Be7 Ne5...,A80,Dutch Defense,2
WSJDhbPl,True,1.499698e+12,1.499699e+12,82,mate,black,10+0,jamboger,1233,farrukhasomiddinov,1196,d4 d6 Bf4 e5 Bg3 Nf6 e3 exd4 exd4 d5 c3 Bd6 Bd...,A41,Queen's Pawn,2
yrAas0Kj,True,1.499698e+12,1.499698e+12,35,mate,white,10+0,jamboger,1219,schaaksmurf3,1286,d4 d5 Bf4 Nc6 e3 Nf6 c3 e6 Nf3 Be7 Bd3 O-O Nbd...,D00,Queen's Pawn Game: Mason Attack,3
b0v4tRyF,True,1.499696e+12,1.499697e+12,109,resign,white,10+0,marcodisogno,1360,jamboger,1227,e4 d6 d4 Nf6 e5 dxe5 dxe5 Qxd1+ Kxd1 Nd5 c4 Nb...,B07,Pirc Defense,4
N8G2JHGG,True,1.499643e+12,1.499644e+12,78,mate,black,10+0,jamboger,1235,ffbob,1339,d4 d5 Bf4 Na6 e3 e6 c3 Nf6 Nf3 Bd7 Nbd2 b5 Bd3...,D00,Queen's Pawn Game: Mason Attack,3

In [91]:
df.isna().values.any()

False

So, no nan values in dataframe.

In [92]:
df.isna().values.sum()

0

In [93]:
df.columns

Index(['rated', 'created_at', 'last_move_at', 'turns', 'victory_status',
       'winner', 'increment_code', 'white_id', 'white_rating', 'black_id',
       'black_rating', 'moves', 'opening_eco', 'opening_name', 'opening_ply'],
      dtype='object')

In [94]:
num_cols=[col for col in df.columns if df[col].dtype != "object"]
num_cols

['rated',
 'created_at',
 'last_move_at',
 'turns',
 'white_rating',
 'black_rating',
 'opening_ply']

In [95]:
object_cols=[col for col in df.columns if df[col].dtype == "object"]
object_cols

['victory_status',
 'winner',
 'increment_code',
 'white_id',
 'black_id',
 'moves',
 'opening_eco',
 'opening_name']

In [96]:
usable_object_cols=[col for col in object_cols if df[col].nunique() <= 10]
usable_object_cols

['victory_status', 'winner']

In [97]:
len(object_cols)

8

In [98]:
filtered_df = pd.get_dummies(df,columns=usable_object_cols)
filtered_df

,rated,created_at,last_move_at,turns,increment_code,white_id,white_rating,...,victory_status_draw,victory_status_mate,victory_status_outoftime,victory_status_resign,winner_black,winner_draw,winner_white
id,,,,,,,,,,,,,,,
TZJHLljE,False,1.504210e+12,1.504210e+12,13,15+2,bourgris,1500,...,0,0,1,0,0,0,1
l1NXvwaE,True,1.504130e+12,1.504130e+12,16,5+10,a-00,1322,...,0,0,0,1,1,0,0
mIICvQHh,True,1.504130e+12,1.504130e+12,61,5+10,ischia,1496,...,0,1,0,0,0,0,1
kWKvrqYL,True,1.504110e+12,1.504110e+12,61,20+0,daniamurashov,1439,...,0,1,0,0,0,0,1
9tXo1AUZ,True,1.504030e+12,1.504030e+12,95,30+3,nik221107,1523,...,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
EfqH7VVH,True,1.499791e+12,1.499791e+12,24,10+10,belcolt,1691,...,0,0,0,1,0,0,1
WSJDhbPl,True,1.499698e+12,1.499699e+12,82,10+0,jamboger,1233,...,0,1,0,0,1,0,0
yrAas0Kj,True,1.499698e+12,1.499698e+12,35,10+0,jamboger,1219,...,0,1,0,0,0,0,1
b0v4tRyF,True,1.499696e+12,1.499697e+12,109,10+0,marcodisogno,1360,...,0,0,0,1,0,0,1
N8G2JHGG,True,1.499643e+12,1.499644e+12,78,10+0,jamboger,1235,...,0,1,0,0,1,0,0

In [99]:
factor_cols=list(set(object_cols)-set(usable_object_cols))
factor_cols

['black_id',
 'moves',
 'opening_name',
 'increment_code',
 'opening_eco',
 'white_id']

In [100]:
for col in factor_cols:
    filtered_df[col],_=pd.factorize(filtered_df[col])

In [101]:
filtered_df

,rated,created_at,last_move_at,turns,increment_code,white_id,white_rating,...,victory_status_draw,victory_status_mate,victory_status_outoftime,victory_status_resign,winner_black,winner_draw,winner_white
id,,,,,,,,,,,,,,,
TZJHLljE,False,1.504210e+12,1.504210e+12,13,0,0,1500,...,0,0,1,0,0,0,1
l1NXvwaE,True,1.504130e+12,1.504130e+12,16,1,1,1322,...,0,0,0,1,1,0,0
mIICvQHh,True,1.504130e+12,1.504130e+12,61,1,2,1496,...,0,1,0,0,0,0,1
kWKvrqYL,True,1.504110e+12,1.504110e+12,61,2,3,1439,...,0,1,0,0,0,0,1
9tXo1AUZ,True,1.504030e+12,1.504030e+12,95,3,4,1523,...,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
EfqH7VVH,True,1.499791e+12,1.499791e+12,24,15,9436,1691,...,0,0,0,1,0,0,1
WSJDhbPl,True,1.499698e+12,1.499699e+12,82,4,9426,1233,...,0,1,0,0,1,0,0
yrAas0Kj,True,1.499698e+12,1.499698e+12,35,4,9426,1219,...,0,1,0,0,0,0,1
b0v4tRyF,True,1.499696e+12,1.499697e+12,109,4,9437,1360,...,0,0,0,1,0,0,1
N8G2JHGG,True,1.499643e+12,1.499644e+12,78,4,9426,1235,...,0,1,0,0,1,0,0

In [102]:
letssee = [col for col in filtered_df.columns if filtered_df[col].dtype==object]
letssee

[]

In [103]:
target=filtered_df.pop("white_rating")
y=target.to_numpy()
X=filtered_df.values

In [106]:
from sklearn.model_selection import train_test_split

In [107]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, shuffle=True)

In [59]:
#target=filtered_df.pop("white_rating")
#y_train=target.to_numpy()
#x_train=filtered_df.values

In [108]:
X_train.shape,y_train.shape

((14040, 19), (14040,))

In [109]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(X_train)
x_train_std=scaler.transform(X_train)

In [115]:
#from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor()
#model=LinearRegression()
model.fit(x_train_std,y_train)

RandomForestRegressor()

In [116]:
model.score(x_train_std,y_train)

0.9421765039153525

In [117]:
x_test_std=scaler.transform(X_test)

In [118]:
preds=model.predict(x_test_std)

In [119]:
preds[:100]

array([1731.5 , 1372.11, 1449.08, 1620.33, 1599.37, 1672.48, 1810.46,
       1700.49, 1552.08, 1549.03, 1767.56, 1885.08, 1786.01, 1318.41,
       2421.16, 1821.52, 1523.09, 2078.12, 1695.65, 1551.15, 1433.99,
       1438.97, 1884.94, 1596.66, 1823.35, 1671.01, 1650.99, 1348.97,
       1311.35, 1707.54, 1705.17, 1478.17, 1745.49, 1425.17, 1416.64,
       1459.89, 1865.99, 1308.5 , 1454.55, 1440.71, 1679.09, 1540.96,
       1396.7 , 2044.89, 1417.34, 1838.48, 1998.59, 1357.83, 2075.72,
       1504.53, 1468.91, 1389.61, 1677.28, 1486.1 , 2024.96, 1802.21,
       1555.47, 1402.62, 1684.71, 1661.87, 1694.21, 1218.21, 1699.09,
       1646.21, 1420.98, 1754.46, 1715.57, 1443.54, 1686.49, 1510.62,
       1207.  , 1818.02, 1701.21, 1209.02, 1758.24, 1848.54, 1645.33,
       1756.78, 1772.24, 1622.97, 1633.28, 1655.37, 1509.07, 2027.71,
       1506.43, 1410.9 , 1475.96, 1412.97, 1811.82, 1665.75, 1694.14,
       1632.11, 1836.24, 1258.68, 1483.68, 1767.78, 1193.48, 1713.13,
       1447.39, 1489.76])