In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('games.csv/games.csv',index_col="id")
pd.set_option('display.max_columns',15)
df

,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
id,,,,,,,,,,,,,,,
TZJHLljE,False,1.504210e+12,1.504210e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5
l1NXvwaE,True,1.504130e+12,1.504130e+12,16,resign,black,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,4
mIICvQHh,True,1.504130e+12,1.504130e+12,61,mate,white,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3
kWKvrqYL,True,1.504110e+12,1.504110e+12,61,mate,white,20+0,daniamurashov,1439,adivanov2009,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,Queen's Pawn Game: Zukertort Variation,3
9tXo1AUZ,True,1.504030e+12,1.504030e+12,95,mate,white,30+3,nik221107,1523,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
EfqH7VVH,True,1.499791e+12,1.499791e+12,24,resign,white,10+10,belcolt,1691,jamboger,1220,d4 f5 e3 e6 Nf3 Nf6 Nc3 b6 Be2 Bb7 O-O Be7 Ne5...,A80,Dutch Defense,2
WSJDhbPl,True,1.499698e+12,1.499699e+12,82,mate,black,10+0,jamboger,1233,farrukhasomiddinov,1196,d4 d6 Bf4 e5 Bg3 Nf6 e3 exd4 exd4 d5 c3 Bd6 Bd...,A41,Queen's Pawn,2
yrAas0Kj,True,1.499698e+12,1.499698e+12,35,mate,white,10+0,jamboger,1219,schaaksmurf3,1286,d4 d5 Bf4 Nc6 e3 Nf6 c3 e6 Nf3 Be7 Bd3 O-O Nbd...,D00,Queen's Pawn Game: Mason Attack,3
b0v4tRyF,True,1.499696e+12,1.499697e+12,109,resign,white,10+0,marcodisogno,1360,jamboger,1227,e4 d6 d4 Nf6 e5 dxe5 dxe5 Qxd1+ Kxd1 Nd5 c4 Nb...,B07,Pirc Defense,4
N8G2JHGG,True,1.499643e+12,1.499644e+12,78,mate,black,10+0,jamboger,1235,ffbob,1339,d4 d5 Bf4 Na6 e3 e6 c3 Nf6 Nf3 Bd7 Nbd2 b5 Bd3...,D00,Queen's Pawn Game: Mason Attack,3

In [3]:
df.isna().values.any()

False

So, no nan values in dataframe.

In [4]:
df.isna().values.sum()

0

In [5]:
df.columns

Index(['rated', 'created_at', 'last_move_at', 'turns', 'victory_status',
       'winner', 'increment_code', 'white_id', 'white_rating', 'black_id',
       'black_rating', 'moves', 'opening_eco', 'opening_name', 'opening_ply'],
      dtype='object')

In [6]:
num_cols=[col for col in df.columns if df[col].dtype != "object"]
num_cols

['rated',
 'created_at',
 'last_move_at',
 'turns',
 'white_rating',
 'black_rating',
 'opening_ply']

In [7]:
object_cols=[col for col in df.columns if df[col].dtype == "object"]
object_cols

['victory_status',
 'winner',
 'increment_code',
 'white_id',
 'black_id',
 'moves',
 'opening_eco',
 'opening_name']

In [8]:
usable_object_cols=[col for col in object_cols if df[col].nunique() <= 10]
usable_object_cols

['victory_status', 'winner']

In [9]:
len(object_cols)

8

In [10]:
filtered_df = pd.get_dummies(df,columns=usable_object_cols)
filtered_df

,rated,created_at,last_move_at,turns,increment_code,white_id,white_rating,...,victory_status_draw,victory_status_mate,victory_status_outoftime,victory_status_resign,winner_black,winner_draw,winner_white
id,,,,,,,,,,,,,,,
TZJHLljE,False,1.504210e+12,1.504210e+12,13,15+2,bourgris,1500,...,0,0,1,0,0,0,1
l1NXvwaE,True,1.504130e+12,1.504130e+12,16,5+10,a-00,1322,...,0,0,0,1,1,0,0
mIICvQHh,True,1.504130e+12,1.504130e+12,61,5+10,ischia,1496,...,0,1,0,0,0,0,1
kWKvrqYL,True,1.504110e+12,1.504110e+12,61,20+0,daniamurashov,1439,...,0,1,0,0,0,0,1
9tXo1AUZ,True,1.504030e+12,1.504030e+12,95,30+3,nik221107,1523,...,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
EfqH7VVH,True,1.499791e+12,1.499791e+12,24,10+10,belcolt,1691,...,0,0,0,1,0,0,1
WSJDhbPl,True,1.499698e+12,1.499699e+12,82,10+0,jamboger,1233,...,0,1,0,0,1,0,0
yrAas0Kj,True,1.499698e+12,1.499698e+12,35,10+0,jamboger,1219,...,0,1,0,0,0,0,1
b0v4tRyF,True,1.499696e+12,1.499697e+12,109,10+0,marcodisogno,1360,...,0,0,0,1,0,0,1
N8G2JHGG,True,1.499643e+12,1.499644e+12,78,10+0,jamboger,1235,...,0,1,0,0,1,0,0

In [11]:
factor_cols=list(set(object_cols)-set(usable_object_cols))
factor_cols

['black_id',
 'white_id',
 'moves',
 'opening_eco',
 'opening_name',
 'increment_code']

In [12]:
for col in factor_cols:
    filtered_df[col],_=pd.factorize(filtered_df[col])

In [13]:
filtered_df

,rated,created_at,last_move_at,turns,increment_code,white_id,white_rating,...,victory_status_draw,victory_status_mate,victory_status_outoftime,victory_status_resign,winner_black,winner_draw,winner_white
id,,,,,,,,,,,,,,,
TZJHLljE,False,1.504210e+12,1.504210e+12,13,0,0,1500,...,0,0,1,0,0,0,1
l1NXvwaE,True,1.504130e+12,1.504130e+12,16,1,1,1322,...,0,0,0,1,1,0,0
mIICvQHh,True,1.504130e+12,1.504130e+12,61,1,2,1496,...,0,1,0,0,0,0,1
kWKvrqYL,True,1.504110e+12,1.504110e+12,61,2,3,1439,...,0,1,0,0,0,0,1
9tXo1AUZ,True,1.504030e+12,1.504030e+12,95,3,4,1523,...,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
EfqH7VVH,True,1.499791e+12,1.499791e+12,24,15,9436,1691,...,0,0,0,1,0,0,1
WSJDhbPl,True,1.499698e+12,1.499699e+12,82,4,9426,1233,...,0,1,0,0,1,0,0
yrAas0Kj,True,1.499698e+12,1.499698e+12,35,4,9426,1219,...,0,1,0,0,0,0,1
b0v4tRyF,True,1.499696e+12,1.499697e+12,109,4,9437,1360,...,0,0,0,1,0,0,1
N8G2JHGG,True,1.499643e+12,1.499644e+12,78,4,9426,1235,...,0,1,0,0,1,0,0

In [14]:
letssee = [col for col in filtered_df.columns if filtered_df[col].dtype==object]
letssee

[]

In [15]:
target=filtered_df.pop("white_rating")
y=target.to_numpy()
X=filtered_df.values

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, shuffle=True)

In [18]:
X_test.shape,y_test.shape

((6018, 19), (6018,))

In [19]:
X_train.shape,y_train.shape

((14040, 19), (14040,))

In [20]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(X_train)
x_train_std=scaler.transform(X_train)

In [21]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train_std,y_train)

LinearRegression()

In [22]:
model.score(x_train_std,y_train)

0.492655385307292

In [23]:
x_test_std=scaler.transform(X_test)

In [24]:
preds=model.predict(x_test_std)

In [25]:
preds[:100]

array([1456.56563489, 1258.69063489, 1475.87813489, 1448.31563489,
       1647.25313489, 1504.12813489, 1638.06563489, 2041.31563489,
       1678.94063489, 1288.19063489, 1531.06563489, 1559.31563489,
       1843.31563489, 1970.31563489, 1862.44063489, 1627.31563489,
       1710.56563489, 1383.06563489, 1880.69063489, 1376.84688489,
       1662.94063489, 1701.81563489, 1661.69063489, 1525.06563489,
       1384.37813489, 1772.56563489, 1672.78438489, 1401.81563489,
       1301.81563489, 1534.81563489, 1728.06563489, 1613.44063489,
       1643.69063489, 1692.81563489, 1599.31563489, 1534.19063489,
       1489.31563489, 1708.94063489, 1373.56563489, 1497.19063489,
       1677.00313489, 1544.81563489, 1613.44063489, 1699.84688489,
       1307.56563489, 1497.44063489, 1352.94063489, 1729.94063489,
       1424.25313489, 1512.19063489, 1657.81563489, 1862.69063489,
       1566.69063489, 1792.56563489, 1702.87813489, 1784.06563489,
       1470.81563489, 1802.69063489, 1419.03438489, 1588.12813489,
       1695.94063489, 1539.90938489, 1764.56563489, 1619.47188489,
       1551.19063489, 1787.56563489, 1777.00313489, 1585.87813489,
       1776.81563489, 1374.44063489, 1686.56563489, 1554.47188489,
       1438.06563489, 1626.81563489, 1902.31563489, 1485.81563489,
       1476.69063489, 1807.31563489, 1595.81563489, 1860.03438489,
       1680.47188489, 1281.90938489, 1726.44063489, 1252.06563489,
       1757.94063489, 1441.69063489, 1351.06563489, 1404.22188489,
       1475.56563489, 1484.81563489, 1714.31563489, 1449.19063489,
       1396.65938489, 1597.69063489, 1424.78438489, 1387.94063489,
       1659.19063489, 1535.19063489, 1754.81563489, 1759.65938489])

In [26]:
from sklearn.ensemble import RandomForestRegressor
model1=RandomForestRegressor()
model1.fit(x_train_std,y_train)

RandomForestRegressor()

In [27]:
model1.score(x_train_std,y_train)

0.9428527877386051

In [28]:
preds=model1.predict(x_test_std)

In [29]:
preds[:100]

array([1496.71, 1410.64, 1441.01, 1497.44, 1646.5 , 1588.43, 1666.48,
       2168.9 , 1788.  , 1216.25, 1543.65, 1594.04, 1952.47, 1947.85,
       1725.72, 1723.02, 1658.72, 1387.95, 1895.56, 1506.98, 1678.39,
       1781.12, 1577.47, 1546.81, 1366.1 , 1732.19, 1768.38, 1366.25,
       1386.91, 1562.1 , 1718.19, 1544.12, 1708.75, 1682.27, 1564.95,
       1537.54, 1467.93, 1654.91, 1366.13, 1497.19, 1958.9 , 1570.97,
       1538.06, 1614.14, 1412.54, 1506.83, 1364.14, 1817.54, 1416.6 ,
       1476.69, 1723.7 , 1910.24, 1601.86, 1720.68, 1677.29, 1777.35,
       2281.44, 1824.55, 1429.22, 1495.01, 1497.91, 1490.8 , 1652.67,
       1595.65, 1584.75, 1400.78, 1730.98, 1585.87, 1798.45, 1371.18,
       1717.32, 1608.95, 1517.98, 1711.77, 1935.28, 1475.2 , 1496.62,
       1898.82, 1555.54, 1931.79, 1930.86, 1451.25, 1642.92, 1091.73,
       1814.96, 1435.87, 1355.61, 1480.28, 1569.1 , 1502.92, 1722.58,
       1365.14, 1256.21, 1476.02, 1325.67, 1436.9 , 1663.42, 1494.98,
       1747.17, 1632.72])

In [30]:
y_test[:100]

array([1682, 1221, 1265, 1634, 1727, 1576, 1727, 1962, 1534, 1565, 1633,
       1457, 2210, 1962, 2203, 1580, 1653, 1406, 1713, 1678, 1696, 1932,
       1612, 1629, 1918, 1686, 2168, 1199, 1015, 1454, 1708, 2264, 1845,
       1715, 1862, 1584, 1471, 1576, 1135, 1194, 1990, 1516, 1444, 1661,
       1500, 1271, 1370, 1964, 1435, 1730, 1854, 1903, 1522, 1545, 1684,
       1696, 2296, 1606, 1410, 1559, 1640, 1425, 1812, 1664, 1370, 1074,
       1896, 1511, 1973, 1334, 1703, 1634, 1196, 1637, 1882, 1189, 1460,
       1894, 1799, 1838, 2193, 1400, 1422, 1272, 1589, 1434, 1224, 1012,
       1302, 1480, 1902, 1370, 1403, 1972, 1152, 1423, 1684, 1003, 1429,
       1715], dtype=int64)